@media only screen and (max-width: 1000px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: start;
    margin-top: 40px;
  }

  hr {
    display: none;
  }

  .headerContent {
    padding: 0px 80px 0px 40px;
  }

  .backButton svg {
    width: 32px;
    height: auto;
  }
  .pageHeader {
    font-size: 32px;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
  }
  .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding-right: 16px;
  }
  .paragraph p {
    margin: 10px;
    font-size: 16px;
    overflow-y: hidden;
  }
  .column {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
    align-items: center;
  }
  .column button {
    margin: 40px 0px;
  }
  .signIn {
    margin: 0px;
  }
  .signIn p {
    margin: 20px 0px 0px 0px;
  }
  .signIn a {
    margin: 20px 0px 0px 10px;
  }
  img {
    margin: 80px 0px 80px 0px;
  }
}
