@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin: 0px;
    padding-right: 16px;
  }
  h1 {
    font-size: 36px;
    margin-top: 40px;
    overflow-y: hidden;
  }
  .paragraph p {
    margin: 10px;
    font-size: 16px;
    overflow-y: hidden;
  }
  .column {
    margin: 40px 0px 0px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
  }
  .column button {
    margin: 0px;
  }
  .signIn {
    margin: 0px;
  }
  .signIn p {
    margin: 20px 0px 0px 0px;
  }
  .signIn a {
    margin: 20px 0px 0px 10px;
  }
  img {
    margin: 80px 0px 0px 0px;
  }
}
