@media only screen and (max-width: 1000px) {
  .content .pageHeader {
    font-size: 24px;
    margin-top: 40px;
  }
  .paragraph {
    padding: 0px 10px;
    width: fit-content;
  }
  .paragraph p {
    font-size: 12px;
  }
  .paragraph .link {
    width: fit-content;
    margin: 0px 3px;
    word-break: break-all;
  }

  h2 {
    font-size: 16px;
    margin-top: 20px;
  }
  .buttonContainer {
    margin: 20px;
    width: fit-content;
  }
  .buttonContainer button {
    align-items: center;
    margin: 0px 10px;
    width: 140px;
    height: 24px;
    font-size: 12px;
  }
}
