@media only screen and (max-width: 1000px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 80vh;
  }
  h1 {
    font-size: 36px;
  }
  .paragraph {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 16px;
    width: auto;
    height: auto;
  }
  h2 {
    font-size: 24px;
  }
}
