@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
  }
  .paragraph {
    width: fit-content;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .paragraph p {
    font-size: 16px;
  }
  .column {
    margin: 60px 0px 0px 50px;
  }
  span {
    font-size: 20px;
  }
  .nameInput {
    font-size: 16px;
  }
  .nameInput input {
    font-size: 16px;
    width: 200px;
  }
  .emailInput {
    font-size: 16px;
  }
  .emailInput input {
    font-size: 16px;
    width: 200px;
  }
  .messageInput {
    font-size: 16px;
  }
  .messageInput textarea {
    font-size: 16px;
    width: 200px;
  }
  .submit {
    margin: 200px 0px 0px 160px;
  }
  .redText {
    font-size: 16px;
  }
  .infoText {
    font-size: 16px;
  }
  .infoSection {
    width: fit-content;
    height: auto;
    margin: 10px 0px;
  }
}
