@media only screen and (max-width: 1000px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .paragraph {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 20px 0px 20px;
  }
  .pageHeader {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .paragraph p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .row2 {
    display: flex;
    flex-direction: column;
  }
  .column {
    margin: 60px 0px 0px 50px;
    width: fit-content;
  }
  span {
    font-size: 20px;
  }
  .nameInput {
    font-size: 16px;
    width: fit-content;
    margin: 0px;
  }
  .nameInput input {
    font-size: 16px;
  }
  .emailInput {
    font-size: 16px;
    width: fit-content;
    margin: 0px;
  }
  .emailInput input {
    font-size: 16px;
  }
  .messageInput {
    font-size: 16px;
    width: fit-content;
  }
  .messageInput textarea {
    font-size: 16px;
  }
  .column {
    display:none;