@media only screen and (max-width: 1000px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    color: white;
  }
  nav {
    display: none;
  }

  hr {
    display: none;
  }

  .headerContent {
    padding: 0px 80px 0px 40px;
  }

  .backButton svg {
    width: 32px;
    height: auto;
  }
  .pageHeader {
    font-size: 32px;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
  }
  .paragraph {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px 0px 20px;
  }
  .paragraph p {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px 0px;
  }
  .row1 {
    display: flex;
    flex-direction: column;
  }
  .row2 {
    display: flex;
    flex-direction: column;
  }
  .column {
    margin: 60px 0px 0px 50px;
    width: fit-content;
  }
  span {
    font-size: 20px;
  }
  .nameInput {
    font-size: 16px;
    width: fit-content;
    margin: 0px;
  }
  .nameInput input {
    font-size: 16px;
    width: 300px;
  }
  .emailInput {
    font-size: 16px;
    width: fit-content;
    margin: 0px;
  }
  .emailInput input {
    font-size: 16px;
    width: 300px;
  }
  .messageInput {
    font-size: 16px;
    width: fit-content;
  }
  .messageInput textarea {
    font-size: 16px;
    width: 300px;
  }
  .column {
    display: none;
  }
}
