@media only screen and (max-width: 1000px) {
  .column {
    display: none;
  }
  .headerContent {
    padding: 0px 70px 0px 30px;
  }
  .pageHeader {
    height: 40px;
    overflow-y: hidden;
  }
  .content {
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .paragraph {
    width: fit-content;
    margin: 40px 20px 0px 20px;
  }
  .paragraph p {
    flex-direction: column;
    align-items: center;
    margin: 2px 0px;
  }
  .column {
    margin: 60px 0px 0px 50px;
    width: fit-content;
  }
  label {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
  .nameInput {
    width: fit-content;
  }
  .nameInput input {
    font-size: 12px;
    width: 300px;
    padding-left: 5px;
  }
  .emailInput {
    width: fit-content;
  }
  .emailInput input {
    font-size: 12px;
    width: 300px;
    padding-left: 5px;
  }
  .messageInput {
    font-size: 12px;
    width: fit-content;
  }
  .messageInput textarea {
    font-size: 12px;
    width: 300px;
    padding-left: 5px;
  }
}
