@media only screen and (max-width: 1000px) {
  .layout {
    background-image: url(../images/Rainydays\ logo.png);
    background-size: 320px auto;
    background-position: center;
    background-position-y: 30%;
    background-position-x: center;
    height: 100vh;
  }
  .allContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .searchContent {
    width: 200px;
    border-radius: 16px;
    height: 40px;
    border: 2px solid #0b3641;
    overflow-y: hidden;
  }

  .searchContent input[type="text"] {
    width: 300px;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
  }

  .searchContent button {
    width: 60px;
    height: 60px;
    background: #0b3641;
    color: white;
    font-size: 17px;
    overflow-y: hidden;
    cursor: pointer;
  }

  h2 {
    font-size: 24px;
    margin-top: 240px;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
  }
  .buttonContainer button {
    width: 180px;
    height: 48px;
    margin: 0px 20px 20px 20px;
    font-size: 18px;
  }
  .whiteSpace1 {
    display: none;
  }
  .whiteSpace2 {
    display: none;
  }
}
