@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }
  .navText {
    display: none;
  }
  .navIcon {
    display: none;
  }
  .navHeadline {
    display: none;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
  }
  .menuContent {
    display: flex;
    flex-direction: row;
  }
  .menuButton {
    width: 40px;
    height: 40px;
    background: none;
    margin-left: 24px;
    cursor: pointer;
  }
  .cartContentMobile {
    display: flex;
    flex-direction: row;
  }
  .navCartMobile {
    width: 40px;
    height: 40px;
    margin-right: 24px;
  }
  .navHeadlineMobile {
    display: block;
  }

  .navHeaderMobile {
    font-size: 36px;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
}
