body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  background-image: url(../images/Rainydays\ logo.png);
  background-size: 460px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 4%;
  height: 100vh;
}

.layout {
  height: 100vh;
  width: 100vw;
  padding-top: 40px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding-top: 40px;
}

ul {
  background: none;
  border: none;
  font-size: 36px;
  margin-left: 8px;
}

ul:hover {
  color: #ff8600;
}

.profile svg {
  margin-left: 40px;
  cursor: pointer;
  transition: 0.3s;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.profile svg:hover {
  fill: #ff8600;
}
.favourite svg {
  margin-left: 40px;
  cursor: pointer;
  transition: 0.3s;
  width: 50px;
  height: 50px;
}
.favourite svg:hover {
  fill: #ff8600;
}

a {
  text-decoration: none;
  color: #0b3641;
  font-size: 36px;
  transition: 0.3s;
}

a:hover {
  color: #ff8600;
}
