@media only screen and (max-width: 1000px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    color: white;
  }
  nav {
    display: none;
  }
  .headerDivider {
    display: none;
  }

  .pageHeaderDivider {
    display: none;
  }
  .headerContent {
    padding: 0px 30px;
  }
  .headerContent .backButton {
    width: 100px;
  }
  .backButton svg {
    width: 32px;
    height: auto;
  }
  .pageHeader {
    font-size: 32px;
    margin: 40px 10px;
    width: 100px;
  }
  .headerContent .searchContent {
    width: 100px;
    height: 20px;
    border-radius: 16px;
    overflow-y: hidden;
  }
  .searchContent button {
    display: none;
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px;
    height: fit-content;
  }
  .productPage {
    height: 100vh;
  }
  .imageContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .sideImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .sideImage {
    margin: 0px 5px;
    padding: 0px;
    width: 10%;
    border-radius: 16px;
    height: auto;
  }
  .mainImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainImage {
    width: 70%;
    height: auto;
    align-items: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
  }
  .colorContainer {
    align-items: center;
    justify-content: space-between;
  }
  .colorContainer button {
    margin: 20px 10px;
  }
  .dropDown {
    margin: 20px 0px;
  }
  .dropDown select {
    margin: 0px;
  }
  .addFavourite {
    margin: 20px 0px;
  }
  .incrementDecrement {
    margin: 20px 92px 20px 0px;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 80px;
  }
  .infoContainer .dropInfo {
    margin: 10px 0px;
  }
}
