@media only screen and (max-width: 1000px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .headerDivider {
    display: none;
    margin: 0px;
    padding: 0px;
    border: none;
  }
  .pageHeaderDivider {
    display: none;
    margin: 0px;
    padding: 0px;
    border: none;
  }
  .pageHeader {
    font-size: 32px;
    margin: 40px 0px;
  }
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .imageContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .sideImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .sideImage {
    margin: 0px 5px;
    padding: 0px;
    width: 8%;
    height: auto;
  }
  .mainImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainImage {
    width: 70%;
    height: auto;
    align-items: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
  }
  .incrementDecrement {
    margin-right: 92px;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    padding: 0px;
  }
}
