@media only screen and (max-width: 1000px) {
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .headerDivider {
    display: none;
  }
  .pageHeaderDivider {
    display: none;
  }
  .navigation {
    display: none;
  }
  .mobileFilter {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    background: none;
    border: 2px solid white;
    color: white;
    align-items: flex-start;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 16px;
    border: 2px solid white;
    padding: 6px 8px 0px 8px;
    cursor: pointer;
  }
  .mobileFilter:hover {
    color: #ff8600;
    border: 2px solid #ff8600;
  }
  .headerContent {
    padding: 0px 30px;
  }
  .backButton {
    width: 160px;
  }
  .backButton svg {
    width: 32px;
    height: auto;
  }
  .pageHeader {
    font-size: 32px;
    margin: 40px 10px;
  }
  .searchContent {
    width: 160px;
    height: 30px;
    border-radius: 16px;
  }
  .searchContent button {
    display: none;
  }
  .dirContainer {
    display: none;
  }
  .shopContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .filter {
    display: none;
  }
  .productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  .row {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .pageSelector {
    margin-left: 0px;
    margin-bottom: 40px;
  }
}
