@media only screen and (min-width: 412px) and (max-width: 767px) {
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .headerDivider {
    display: none;
  }
  .navigation {
    display: none;
  }
  .mobileFilter {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: none;
    border: 2px solid white;
    color: white;
    align-items: flex-start;
    width: 160px;
    height: 24px;
    border-radius: 16px;
    padding-left: 5px;
  }
  .pageHeader {
    font-size: 32px;
    margin: 20px 0px;
  }
  .dirContainer {
    display: none;
  }
  .shopContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .filter {
    display: none;
  }
  .productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .firstRow {
    display: flex;
    flex-direction: column;
  }
  .secondRow {
    display: flex;
    flex-direction: column;
  }
}
