@media only screen and (max-width: 1000px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerDivider {
    display: none;
  }
  .pageHeaderDivider {
    display: none;
  }
  .menuButton .menuIcon {
    color: white;
  }
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
  nav {
    display: none;
  }
  .headerContent {
    padding: 0px 80px 0px 40px;
  }

  .backButton svg {
    width: 32px;
    height: auto;
  }
  .pageHeader {
    font-size: 32px;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: auto;
    margin: 0px 10px;
    padding: 0px;
  }
  .divider {
    margin: 0px;
    border-width: 1px;
    width: 100vw;
  }
  .pageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0px;
    font-size: 32px;
  }
  .overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    margin: 20px 40px;
  }

  .overviewName {
    margin: 5px;
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .cartItem {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 300px;
    justify-content: space-around;
    border-radius: 16px;
    margin: 0px 40px;
    padding: 0px;
  }
  .itemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 300px;
  }
  .remove {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    height: fit-content;
    width: fit-content;
    margin: 0px;
    padding: 0px;
    width: 160px;
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: auto;
    border-radius: 16px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nameItem {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .quantity {
    margin: 0px;
    padding: 0px;
    width: 160px;
    height: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .price {
    margin: 0px;
    padding: 0px;
    width: 160px;
    height: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .finish {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .finishOverview {
    margin: 0px;
  }
  .finalPrice {
    margin: 40px 0px;
  }
  .checkoutContainer {
    margin: 0px;
    margin-top: 40px;
  }
  .checkout {
    margin: 0px;
    margin-bottom: 40px;
    border-radius: 16px;
  }
}
