.layout {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px 0px 80px;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: fit-content;
  height: 40px;
  border: none;
}

.backButton svg {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.backButton svg:hover {
  fill: #ff8600;
}

.pageHeader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0px;
  font-size: 48px;
  color: white;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-left: 72px;
  width: 50vw;
}

.paragraph p {
  color: white;
  font-size: 24px;
  margin-top: 8px;
  font-weight: lighter;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 50vw;
  margin-right: 50px;
}

.column button {
  height: 64px;
  width: 240px;
  border: 2px solid white;
  background-color: #3aafb9;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.column button:hover {
  border: 2px solid #3aafb9;
  color: #3aafb9;
  background-color: white;
  transition: all 400ms ease;
}

.signIn {
  display: flex;
  flex-direction: row;
}

.signIn p {
  color: white;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 16px;
}

.signIn a {
  color: #ff8600;
  margin-left: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.signIn span:hover {
  font-style: italic;
}

img {
  width: 320px;
  height: auto;
  margin-top: 80px;
  border-radius: 16px;
}
