.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.headerContent {
  padding: 0px 120px 0px 80px;
}

.pageHeader {
  flex: 1;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 50vw;
}

.paragraph p {
  color: white;
  margin-top: 4px;
  font-weight: lighter;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 50vw;
}

.column button {
  height: 40px;
  width: 200px;
  border: 2px solid white;
  background-color: #3aafb9;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
}

.column button:hover {
  border: 2px solid #3aafb9;
  color: #3aafb9;
  background-color: white;
}

.signIn {
  display: flex;
  flex-direction: row;
}

.signIn p {
  color: white;
  margin-top: 10px;
  text-transform: uppercase;
}

.signIn a {
  color: #ff8600;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.signIn span:hover {
  font-style: italic;
}

img {
  width: 240px;
  height: auto;
  margin-top: 40px;
  border-radius: 5px;
}
