.layout {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .menuButton .menuIcon {
    color: white;
  }
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  nav {
    display: none;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.content {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 50px;
  width: 60vw;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin: 0px;
    padding-right: 16px;
  }
}

h1 {
  color: white;
  margin-bottom: 40px;
  font-size: 56px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  h1 {
    font-size: 36px;
    margin-top: 40px;
    overflow-y: hidden;
  }
}
.paragraph p {
  margin-top: 20px;
  color: white;
  margin-right: 140px;
  font-size: 24px;
  font-weight: lighter;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .paragraph p {
    margin: 10px;
    font-size: 16px;
    overflow-y: hidden;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 210px;
  margin-right: 50px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .column {
    margin: 40px 0px 0px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
  }
}

.column button {
  height: 64px;
  width: 240px;
  border: 2px solid white;
  background-color: #3aafb9;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  border-radius: 16px;
  text-transform: uppercase;
  margin-left: 120px;
  cursor: pointer;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .column button {
    margin: 0px;
  }
}

.column button:hover {
  border: 2px solid #3aafb9;
  color: #3aafb9;
  background-color: white;
  transition: all 400ms ease;
}

.signIn {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .signIn {
    margin: 0px;
  }
}

.signIn p {
  color: white;
  margin-left: 120px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .signIn p {
    margin: 20px 0px 0px 0px;
  }
}
.signIn a {
  color: #ff8600;
  margin-left: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .signIn a {
    margin: 20px 0px 0px 10px;
  }
}
.signIn span:hover {
  font-style: italic;
}

img {
  width: 480px;
  height: 120px;
  margin-left: 120px;
  margin-top: 80px;
  border-radius: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  img {
    margin: 40px 0px 0px 0px;
  }
}
