.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.headerContent {
  padding: 0px 120px 0px 80px;
}

.pageHeader {
  flex: 1;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 50vw;
}

.paragraph p {
  color: #0b3641;
  margin-top: 4px;
  font-weight: lighter;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 50vw;
}

.column button {
  height: 40px;
  width: 200px;
  border: 2px solid #0b3641;
  background-color: #3aafb9;
  color: #0b3641;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
}

.column button:hover {
  border: 2px solid #3aafb9;
  color: #3aafb9;
  background-color: #0b3641;
}

.signIn {
  display: flex;
  flex-direction: row;
}

.signIn p {
  color: #0b3641;
  margin-top: 10px;
  text-transform: uppercase;
}

.signIn a {
  color: #ff8600;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.signIn span:hover {
  font-style: italic;
}

img {
  width: 240px;
  height: auto;
  margin-top: 40px;
  border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: start;
    margin-top: 40px;
  }

  .headerContent {
    padding: 0px 70px 0px 30px;
  }

  .pageHeader {
    height: 40px;
    overflow-y: hidden;
  }
  .paragraph {
    width: fit-content;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
  .paragraph p {
    margin: 5px;
  }
  .column {
    margin: 0px;
    width: fit-content;
  }
  .column button {
    margin: 20px 0px;
    height: 20px;
    width: 160px;
    border-radius: 16px;
    font-size: 12px;
  }
  .signIn {
    margin: 0px;
  }
  .signIn p {
    margin: 0px;
  }
  .signIn a {
    margin: 0px 10px;
    font-size: 12px;
  }
  img {
    margin: 20px 0px 80px 0px;
    border-radius: 16px;
  }
}
