.headerContent {
  padding: 0px 120px 0px 80px;
}

.pageHeader {
  flex: 1;
}

.contactContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-bottom: 80px;
}

.formTitle {
  color: #0b3641;
  font-size: 32px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #0b3641;
  margin: 0px auto;
  padding: 20px;
}

.formHeader {
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin: 20px;
}

.message {
  color: #0b3641;
}

.formError {
  display: none;
  margin-left: 10px;
  color: red;
  font-size: 16px;
}

.inputContainer {
  width: auto;
  display: flex;
}

.formInput {
  color: #0b3641;
  margin: 10px;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 24px;
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

#subject {
  height: 100px;
  width: 300px;
  margin-top: 20px;
  padding: 5px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#submit {
  margin: 20px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  color: #0b3641;
  background-color: #ff8600;
  border: 2px solid white;
  border-radius: 5px;
}
#submit:hover {
  background-color: #0b3641;
  color: black;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.returnCart {
  height: 36px;
  margin: 20px;
  border: 2px solid #0b3641;
  width: auto;
  font-size: 16px;
  color: #0b3641;
  background-color: black;
  padding: 0px 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
}

.guestButton:hover {
  background-color: rgb(75, 75, 75);
  color: #0b3641;
}

@media only screen and (max-width: 1200px) {
  form {
    margin: 0px 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .formTitle {
    margin: 20px;
    font-size: 24px;
  }
}
