.layout {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: 220px;
}

.content h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 56px;
  margin-top: 80px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: white;
  margin-top: 40px;
  font-size: 24px;
  font-weight: lighter;
}

p {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 40px;
  font-size: 40px;
}

span {
  display: inline-block;
  justify-content: center;
  color: #ff8600;
  text-decoration: underline;
  margin: 0px 8px;
  font-weight: lighter;
  cursor: pointer;
}
.link {
  display: inline-block;
  justify-content: center;
  color: #ff8600;
  text-decoration: underline;
  margin: 0px 8px;
  font-weight: lighter;
  cursor: pointer;
}

.link:hover {
  font-style: italic;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.homePage {
  background-color: #0b3641;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 30px;
  height: 64px;
  width: 220px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.homePage:hover {
  background-color: white;
  color: #0b3641;
  border: 2px solid #0b3641;
  transition: all 400ms ease;
}

.continue {
  background-color: #ff8600;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 30px;
  height: 64px;
  width: 220px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.continue:hover {
  background-color: white;
  color: #ff8600;
  border: 2px solid #ff8600;
  transition: all 400ms ease;
}

h2 span {
  font-weight: bold;
}
