.layout {
  /* max-width: 100vw;
  max-height: 100vh; */
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .menuButton .menuIcon {
    color: white;
  }
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  nav {
    display: none;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 100vw;
  margin-bottom: 220px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 80vh;
  }
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 56px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: white;
  margin-top: 40px;
  font-size: 24px;
  font-weight: lighter;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .paragraph {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 16px;
    width: auto;
    height: auto;
  }
}

p {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 40px;
  font-size: 40px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

span {
  display: inline-block;
  justify-content: center;
  color: #ff8600;
  text-decoration: underline;
  margin: 0px 8px;
  font-weight: lighter;
  cursor: pointer;
}

span:hover {
  font-style: italic;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.homePage {
  background-color: #0b3641;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 30px;
  height: 64px;
  width: 220px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.homePage:hover {
  background-color: white;
  color: #0b3641;
  border: 2px solid #0b3641;
  transition: all 400ms ease;
}

.continue {
  background-color: #ff8600;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 30px;
  height: 64px;
  width: 220px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.continue:hover {
  background-color: white;
  color: #ff8600;
  border: 2px solid #ff8600;
  transition: all 400ms ease;
}

h2 span {
  font-weight: bold;
}
