.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-bottom: 220px;
}

.content .pageHeader {
  color: white;
  width: 100vw;
  font-size: 40px;
  margin-top: 80px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: white;
  margin-top: 40px;
  font-size: 16px;
  font-weight: lighter;
}

p {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 40px;
  font-size: 24px;
}

span {
  color: #ff8600;
  text-decoration: underline;
  margin: 0px 8px;
  font-weight: lighter;
  cursor: pointer;
}
.link {
  display: inline-block;
  justify-content: center;
  color: #ff8600;
  text-decoration: underline;
  margin: 0px 8px;
  font-weight: lighter;
  cursor: pointer;
}

.link:hover {
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0px;
}

.buttonContainer button {
  cursor: pointer;
  border-radius: 30px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
}

.homePage {
  background-color: #0b3641;
  border: 2px solid white;
}

.homePage:hover {
  background-color: white;
  color: #0b3641;
  border: 2px solid #0b3641;
  transition: all 400ms ease;
}

.continue {
  background-color: #ff8600;
  border: 2px solid white;
}

.continue:hover {
  background-color: white;
  color: #ff8600;
  border: 2px solid #ff8600;
  transition: all 400ms ease;
}

h2 span:hover {
  font-weight: bold;
}
