.layout {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .menuButton .menuIcon {
    color: white;
  }
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  nav {
    display: none;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.content {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 50px;
  width: 60vw;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .paragraph {
    width: fit-content;
    height: auto;
  }
}

h1 {
  color: white;
  margin-bottom: 32px;
  font-size: 56px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.paragraph p {
  margin-top: 20px;
  color: white;
  margin-right: 140px;
  font-size: 24px;
  font-weight: lighter;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .paragraph p {
    font-size: 16px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-top: 196px;
  margin-right: 50px;
}

span {
  color: red;
  font-size: 32px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  span {
    font-size: 20px;
  }
}

.row1 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.nameInput {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  color: white;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .nameInput {
    font-size: 16px;
  }
}

.nameInput input {
  width: 400px;
  height: 56px;
  font-size: 20px;
  margin-top: 10px;
  padding-left: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .nameInput input {
    font-size: 16px;
    width: 200px;
  }
}

.emailInput {
  display: flex;
  flex-direction: column;
  color: white;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .emailInput {
    font-size: 16px;
  }
}

.emailInput input {
  width: 400px;
  height: 56px;
  font-size: 20px;
  margin-top: 10px;
  padding-left: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .emailInput input {
    font-size: 16px;
    width: 200px;
  }
}

.row2 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.messageInput {
  display: flex;
  flex-direction: column;
  color: white;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .messageInput {
    font-size: 16px;
  }
}

.messageInput textarea {
  width: 400px;
  height: 200px;
  font-size: 20px;
  margin-top: 10px;
  padding-left: 16px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .messageInput textarea {
    font-size: 16px;
    width: 200px;
  }
}

.submit {
  color: white;
  margin-left: 364px;
  margin-top: 210px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .submit {
    margin: 200px 0px 0px 160px;
  }
}

.submit input {
  width: 100px;
  height: 40px;
  border-radius: 16px;
  border: 2px solid white;
  background-color: #3aafb9;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.submit input:hover {
  border: 2px solid #3aafb9;
  background-color: white;
  color: #3aafb9;
  transition: all 400ms ease;
  font-weight: bold;
}

.redText {
  color: red;
  font-size: 24px;
  margin-bottom: 10px;
}

.infoText {
  color: white;
  font-size: 24px;
}

.infoSection {
  margin-bottom: 56px;
  margin-left: 200px;
}
