.headerContent {
  padding: 0px 120px 0px 80px;
}

.pageHeader {
  flex: 1;
}

.contactContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.formTitle {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  align-items: center;
  border: 2px solid white;
  margin: 0px 500px;
  padding: 20px;
}

.message {
  color: white;
}

.formValid {
  display: none;
  color: green;
  margin-left: 8px;
  font-size: 20px;
}

.formError {
  display: none;
  color: red;
  margin-left: 8px;
  font-size: 20px;
}

.formContainer {
  margin-top: 20px;
  margin-left: 20px;
}

.formInput {
  color: white;
  margin: 10px;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

input {
  height: 40px;
  width: 300px;
  margin-top: 10px;
}

#subject {
  height: 100px;
  width: 300px;
  margin-top: 20px;
  padding: 5px;
}

#submit {
  margin-top: 20px;
  margin-left: 28px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  color: white;
  background-color: rgb(41, 41, 209);
  border-radius: 10px;
}
#submit:hover {
  background-color: white;
  color: black;
}

.successMessage {
  color: white;
  font-size: 24px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.backSuccess {
  margin-left: 30px;
  font-size: 24px;
  color: yellow;
  cursor: pointer;
}

.backSuccess:hover {
  text-decoration: underline;
  font-weight: bold;
}
