.headerContent {
  padding: 0px 120px 0px 80px;
}

.pageHeader {
  flex: 1;
}

.contactContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.formTitle {
  color: #0b3641;
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  align-items: center;
  border: 2px solid #0b3641;
  margin: 0px 400px;
  padding: 20px;
}

.message {
  color: #0b3641;
}

.formValid {
  display: none;
  color: green;
  font-size: 16px;
}

.formError {
  display: none;
  color: red;
  font-size: 16px;
}

.formContainer {
  margin-top: 20px;
}

.formInput {
  color: #0b3641;
  margin: 10px;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 24px;
  width: 300px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #0b3641;
}

#subject {
  height: 100px;
  width: 300px;
  margin-top: 20px;
  padding: 5px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #0b3641;
}

#submit {
  margin: 20px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  color: #0b3641;
  background-color: #ff8600;
  border: 2px solid #0b3641;
  border-radius: 5px;
}
#submit:hover {
  background-color: #0b3641;
  color: #ff8600;
}

.successMessage {
  color: #0b3641;
  font-size: 24px;
  margin-bottom: 20px;
}

.backSuccess {
  font-size: 20px;
  color: #ff8600;
  cursor: pointer;
}

.backSuccess:hover {
  font-weight: bold;
}

form #submit {
  border: none;
  color: white;
}

@media only screen and (max-width: 1200px) {
  form {
    margin: 0px 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .formTitle {
    margin: 20px;
    font-size: 24px;
  }
}
