a {
  text-decoration: none;
  color: #0b3641;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

header {
  height: fit-content;
  overflow-y: hidden;
  margin-bottom: 40px;
}

.searchContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.searchContent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 30px;
  height: 40px;
  margin-bottom: 80px;
  border: 2px solid #0b3641;
}

.searchContent input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: 17px;
  padding-left: 10px;
  color: #0b3641;
}

.searchContent .search {
  width: 60px;
  height: 60px;
  background: #0b3641;
  color: white;
  font-size: 17px;
  overflow-y: hidden;
  cursor: pointer;
}

.searchContent:hover {
  border: 2px solid #ff8600;
}
.searchContent:hover button {
  color: #ff8600;
}

.searchContent::after {
  content: "";
  clear: both;
  display: table;
}

.allContent {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer img {
  width: 720px;
  height: auto;
  margin-bottom: 80px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  margin-top: 40px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 160px;
}

.buttonContainer button {
  width: 160px;
  height: 40px;
  font-size: 16px;
  margin: 0px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: #0b3641;
  color: white;
  transition: all 400ms ease;
}

.buttonContainer button:hover {
  background: white;
  color: #0b3641;
  border: 2px solid #0b3641;
}

.whiteSpace {
  height: 100vh;
  width: 200px;
  background-color: #0b3641;
}
