.layout {
  background-image: url(../images/Rainydays\ logo.png);
  background-repeat: no-repeat;
  background-size: 720px 240px;
  background-position: center;
  background-position-y: 20%;
}

a {
  text-decoration: none;
  color: #0b3641;
  cursor: pointer;
}

header {
  margin-bottom: 40px;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.allContent {
  display: flex;
  flex-direction: row;
}

.content {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 320px;
  z-index: -10;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

button {
  width: 240px;
  height: 80px;
  margin: none;
  padding: none;
  border: none;
  font-size: 24px;
  margin: 0px 40px 0px 40px;
  border-radius: 33px;
  text-transform: uppercase;
  cursor: pointer;
}

.men {
  background-color: #0b3641;
  color: white;
}

.men:hover {
  background-color: white;
  color: #0b3641;
  border: 2px solid #0b3641;
  transition: all 400ms ease;
}

.woman {
  background-color: #3aafb9;
  color: white;
}

.woman:hover {
  background-color: white;
  color: #3aafb9;
  border: 2px solid #3aafb9;
  transition: all 400ms ease;
}

.children {
  background-color: #eb1526;
  color: white;
}

.children:hover {
  background-color: white;
  color: #eb1526;
  border: 2px solid #eb1526;
  transition: all 400ms ease;
}

.whiteSpace1 {
  height: 90vh;
  width: 30vw;
  padding: 0;
  border: none;
  margin: 0;
  background-color: #0b3641;
  background: linear-gradient(to right, #0b3641 30%, white 70%);
  background-size: 100% 50%;
  background-position: left;
}
.whiteSpace2 {
  height: 90vh;
  width: 30vw;
  padding: 0;
  border: none;
  margin: 0;
  background-color: #0b3641;
  background: linear-gradient(to left, #0b3641 30%, white 70%);
  background-size: 100% 50%;
  background-position: right;
}
