.layout {
  background-image: url(../images/Rainydays\ logo.png);
  background-repeat: no-repeat;
  background-size: 720px 240px;
  background-position: center;
  background-position-y: 20%;
}

@media only screen and (max-width: 400px) {
  .layout {
    background-image: url(../images/Rainydays\ logo.png);
    background-repeat: no-repeat;
    background-size: 360px 120px;
    background-position: center;
    background-position-y: 20%;
    height: 100vh;
  }
}

a {
  text-decoration: none;
  color: #0b3641;
  cursor: pointer;
}

header {
  margin-bottom: 40px;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.allContent {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 400px) {
  .allContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h2 {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 320px;
  z-index: -10;
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: 24px;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

@media only screen and (max-width: 400px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
  }
}

button {
  width: 240px;
  height: 80px;
  margin: none;
  padding: none;
  border: none;
  font-size: 24px;
  margin: 0px 40px 0px 40px;
  border-radius: 33px;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  button {
    width: 180px;
    height: 48px;
    margin: 0px 20px 20px 20px;
    font-size: 18px;
  }
}

.men {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  color: white;
}

.men:hover {
  background: linear-gradient(to left top, white 40%, white 90%);
  color: #0b3641;
  border: 2px solid #0b3641;
}

.woman {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  color: white;
}

.woman:hover {
  background: linear-gradient(to left top, white 40%, white 90%);
  color: #0b3641;
  border: 2px solid #0b3641;
}

.children {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  color: white;
}

.children:hover {
  background: linear-gradient(to left top, white 40%, white 90%);
  color: #0b3641;
  border: 2px solid #0b3641;
}

.whiteSpace1 {
  height: 90vh;
  width: 20vw;
  padding: 0;
  border: none;
  margin: 0;
  background-color: #0b3641;
  /* background: linear-gradient(to right, #0b3641 40%, white 90%);
  background-size: 100% 50%;
  background-position: left; */
}

@media only screen and (max-width: 400px) {
  .whiteSpace1 {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .whiteSpace2 {
    display: none;
  }
}
.whiteSpace2 {
  height: 90vh;
  width: 20vw;
  padding: 0;
  border: none;
  margin: 0;
  background-color: #0b3641;
  /* background: linear-gradient(to left, #0b3641 40%, white 90%);
  background-size: 100% 50%;
  background-position: right; */
}
