.navText a {
  text-decoration: none;
  color: #0b3641;
  cursor: pointer;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer img {
  width: 720px;
  height: auto;
  margin-bottom: 50px;
}

.content-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.information-content {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.information-content div {
  width: 45%;
  height: fit-content;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  box-shadow: 3px 3px 3px rgba(165, 165, 165, 0.473);
}

.newsletter {
  background-color: rgb(89, 238, 89);
}

.newsletter:hover {
  opacity: 0.5;
  box-shadow: none;
}

.newsletter h2 {
  color: black;
  margin-bottom: 25px;
}

.newsletter p {
  width: 100%;
  color: white;
  font-size: 1rem;
}

.sales {
  background-color: yellow;
}

.sales:hover {
  opacity: 0.5;
  box-shadow: none;
}

.sales h2 {
  color: red;
  margin-bottom: 25px;
}

.sales p {
  width: 100%;
  color: rgb(250, 42, 42);
  font-size: 1rem;
}

.gender-link {
  color: white;
  box-shadow: 3px 3px 3px rgba(165, 165, 165, 0.473);
  margin-bottom: 50px;
  width: 80vw;
  height: 30vh;
}

.gender-link:hover {
  background-color: white;
  box-shadow: none;
  border: none;
  opacity: 0.5;
}

.men {
  background: url("/images/man.jpg") no-repeat center;
  background-size: cover;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.woman {
  background: url("/images/woman.jpg") no-repeat center;
  background-size: cover;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  background: url("/images/child.jpg") no-repeat center;
  background-size: cover;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender-title {
  font-size: 1.5rem;
  background-color: white;
  color: #ff8600;
  padding: 5px 10px;
}

.bottom-information-content {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin-bottom: 50px;
}

.bottom-information-content div {
  width: 30%;
  text-align: center;
  background-color: rgb(255, 249, 249);
  box-shadow: 3px 3px 3px rgba(165, 165, 165, 0.473);
  padding: 50px 0px;
}

.bottom-information-content div a {
  width: 100%;
  height: 100%;
}

.bottom-information-content div:hover {
  background-color: #0b3641;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team h2 {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.team p {
  width: 80%;
  margin: auto;
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support h2 {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.support p {
  width: 80%;
  margin: auto;
}
.delivery-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-content h2 {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.delivery-content p {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .allContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navHeadlineMobile {
    color: #0b3641;
  }
  .imageContainer img {
    width: 320px;
    margin-bottom: 40px;
  }
  .genderContainer {
    flex-direction: column;
    margin: 0px;
  }
}
