.headerContent {
  padding: 0px 120px 0px 80px;
}

.pageHeader {
  flex: 1;
}

.contactContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.formTitle {
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  margin: 0px 400px;
  padding: 20px;
}

.message {
  color: white;
}

.formValid {
  display: none;
  color: green;
  font-size: 16px;
}

.formError {
  display: none;
  color: red;
  font-size: 16px;
}

.formContainer {
  margin-top: 20px;
}

.formInput {
  color: white;
  margin: 10px;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 24px;
  width: 300px;
  margin-top: 10px;
  padding: 5px;
}

#subject {
  height: 100px;
  width: 300px;
  margin-top: 20px;
  padding: 5px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#submit {
  margin: 20px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  color: white;
  background-color: rgb(41, 41, 209);
  border-radius: 10px;
}
#submit:hover {
  background-color: white;
  color: black;
}

p {
  color: white;
  text-transform: uppercase;
  margin: 20px;
}
.guestButton {
  margin: 20px;
  border: 1px solid white;
  padding: 10px;
  background-color: gray;
  cursor: pointer;
  border-radius: 10px;
}

.guestButton:hover {
  background-color: rgb(75, 75, 75);
  color: white;
}

@media only screen and (max-width: 1200px) {
  form {
    margin: 0px 200px;
  }
}
@media only screen and (max-width: 1000px) {
  .formTitle {
    margin: 20px;
    font-size: 24px;
  }
}
