* {
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.layout {
  background: white;
  background-size: 120% 120%;
  background-position: right bottom;
}

body {
  background-color: white;
  color: #0b3641;
  width: 100vw;
}

button {
  transition: all 400ms ease;
  cursor: pointer;
}
span {
  transition: all 400ms ease;
}
p {
  font-size: 16px;
}

.menuContent {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}
.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.backButton {
  position: absolute;
  font-size: 2rem;
  left: 10%;
  top: 15%;
}

.pageHeader {
  font-size: 2rem;
  color: #0b3641;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

nav {
  width: 80vw;
  margin: 0px auto 50px auto;
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-top: 10px;
}

.navText {
  cursor: pointer;
  font-size: 1rem;
}

.navHeadline {
  width: 40%;
  text-align: center;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navHeader {
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.navHeader:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.navIcon {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.navIcon a {
  height: fit-content;
}

.navImage {
  width: 32px;
  height: auto;
  cursor: pointer;
}

.navImage:hover {
  fill: #ff8600;
  transition: all 400ms ease;
}

nav .search {
  background-color: white;
  width: 50px;
}

nav .search img {
  width: 32px;
  height: 32px;
}

.nav-search {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  width: 20%;
  height: 40px;
  margin-right: 100px;
}

.nav-search input {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

.nav-mobile {
  overflow: hidden;
  background-color: white;
  position: relative;
  display: none;
  flex-direction: column;
}
.nav-mobile a {
  color: #1d2934;
  text-decoration: none;
}
.active {
  color: #1d2934;
  margin: 20px;
  font-size: 1rem;
}
.nav-mobile #menu-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 2%;
  padding: 20px 20px 0px 0px;
  cursor: pointer;
}

.nav-mobile #menu-button:hover .line {
  background-color: #ff8600;
}

.line {
  width: 25px;
  height: 3px;
  margin: 2px;
  background-color: #1d2934;
}

#mobile-link {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0%;
  right: 0;
  transform: translate3d(0, -100vh, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#mobile-link a {
  color: #333;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 0.8rem;
}

#mobile-link img {
  width: 150px;
  height: auto;
}

#mobile-link span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 0px 0px;
  font-size: 2rem;
  cursor: pointer;
}
#mobile-link span:hover {
  color: #ff8600;
}

#mobile-link a:hover {
  text-decoration: none;
  color: #ff8600;
}

#mobile-link.show {
  transform: translate3d(0, 0vh, 0);
}

footer {
  background-color: #ff8600;
  width: 100vw;
  padding: 50px 0px;
}

.footerContent {
  color: #0b3641;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 25px;
}

.paymentImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  font-size: 1rem;
  margin-bottom: 10px;
}

.footerImage {
  height: auto;
  width: 64px;
  margin-bottom: 10px;
}

.deliveryPartners {
  font-size: 1rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .desktop-menu {
    display: none;
  }
  .navText {
    display: none;
  }
  .navIcon {
    display: none;
  }
  .navHeadline {
    display: none;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  .headerDivider {
    display: none;
  }

  .pageHeaderDivider {
    display: none;
  }

  .backButton svg {
    width: 32px;
    height: auto;
  }
  .menuButton .menuIcon {
    color: white;
  }

  .searchContent button {
    display: none;
  }

  button {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .menuContent {
    display: flex;
    flex-direction: row;
    width: 100px;
  }
  .menuButton {
    width: 40px;
    height: 40px;
    background: none;
    margin-left: 24px;
    cursor: pointer;
  }
  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-title {
    font-style: normal;
  }

  .headerContent .pageHeader {
    font-size: 24px;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .footerContent h3 {
    font-size: 16px;
  }
  .footerContent ul {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .active {
    margin: 10px;
    font-size: 0.8rem;
  }
  .nav-mobile #menu-button {
    top: 10%;
    padding: 10px 10px 0px 0px;
  }
  .line {
    width: 20px;
    height: 2px;
    margin: 1px;
    background-color: black;
  }
}
@media screen and (max-width: 400px) {
  #mobile-link span {
    font-size: 1rem;
  }
}
