* {
  overflow-x: hidden;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: #0b3641;
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
}

.layout {
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
}

.menuContent {
  display: none;
}

.headerMobile {
  display: none;
}

.cartContentMobile {
  display: none;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
  .menuContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: max-content;
    margin: 0px;
    padding: 0px;
  }
  .menuButton {
    width: 40px;
    height: 40px;
    background: none;
    margin-top: 20px;
    margin-left: 8px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .cartContentMobile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    margin: 0px;
    padding: 0px;
  }
  .navCartMobile {
    width: 40px;
    height: 40px;
    background: none;
    margin-top: 20px;
    margin-right: 8px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  nav {
    display: none;
  }
}

.navUl {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: fit-content;
}

.navText {
  margin-left: 56px;
  margin-top: 80px;
  padding: 0px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navText {
    display: none;
  }
}

.navIcon {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navIcon {
    display: none;
  }
}

.navHeadlineMobile {
  display: none;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navHeadlineMobile {
    display: block;
    align-items: center;
    margin-right: 32px;
    margin-left: 30px;
  }

  .navHeaderMobile {
    font-size: 36px;
    margin-top: 20px;
  }
}

.navHeadline {
  display: block;
  align-items: center;
  border: 0 80px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navHeadline {
    display: none;
  }
}

.navHeader {
  margin: 50px 0px 0px 0px;
  padding: 0px;
  align-items: center;
  border: 0px;
  font-size: 48px;
  cursor: pointer;
}

.navHeader:hover {
  color: #ff8600;
}

.navImage {
  width: 48px;
  height: 48px;
  margin-top: 56px;
  margin-right: 56px;
  cursor: pointer;
}

.navImage:hover {
  fill: #ff8600;
  transition: all 400ms ease;
}

.footerContent {
  background-color: #ff8600;
  color: #0b3641;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: lighter;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .footerContent {
    display: flex;
    flex-direction: column;
  }
}

.section {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 40px 0px;
  border-right: 1px solid #0b3641;
  padding-right: 50px;
  padding-left: 50px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .section {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
    border: none;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  .section h3 {
    width: fit-content;
  }
}

.paymentImage {
  display: flex;
  flex-direction: row;
}

.info {
  margin: 0px 0px 16px 0px;
  padding: 0px;
  border: 0px;
  font-size: 16px;
  font-weight: lighter;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .section .contactInfo {
    width: fit-content;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section .giftCards {
    width: fit-content;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section .delivery {
    width: fit-content;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footerImage {
  height: 40px;
  width: 64px;
  margin: 0px 16px 0px 0px;
}

.giftCardsText {
  margin: 0px 0px 16px 0px;
  padding: 0px;
  border: 0px;
  font-size: 16px;
  font-weight: lighter;
}

.deliveryPartners {
  margin: 0px 0px 16px 0px;
  padding: 0px;
  border: 0px;
  font-size: 16px;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  width: 300px;
  padding-bottom: 16px;
}
