* {
  overflow-x: hidden;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.layout {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

body {
  background-color: white;
  color: #0b3641;
  max-width: 100vw;
}

button {
  transition: all 400ms ease;
  cursor: pointer;
}
span {
  transition: all 400ms ease;
}
p {
  font-size: 16px;
}

.menuContent {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}
.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

.pageHeaderDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: fit-content;
  height: 40px;
  border: none;
  overflow: hidden;
}

.pageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: normal;
  color: white;
  width: 300px;
}

.searchContent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  width: fit-content;
  width: 300px;
  border-radius: 5px;
  height: 40px;
  border: 2px solid white;
}

.searchContent input[type="text"] {
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  width: 300px;
}

.searchContent button {
  width: 80px;
  height: 40px;
  background: #0b3641;
  color: white;
  font-size: 16px;
  overflow-y: hidden;
  cursor: pointer;
  transition: all 400ms ease;
}

.searchContent:hover {
  border: 2px solid #ff8600;
}
.searchContent:hover button {
  background-color: #ff8600;
  color: #ffffff;
}

.searchContent::after {
  content: "";
  clear: both;
  display: table;
}

nav {
  width: 100vw;
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 40px;
}

.navText {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
}

.navHeadline {
  width: 20%;
  text-align: center;
}

.navHeader {
  align-items: center;
  font-size: 48px;
  cursor: pointer;
}

.navHeader:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.navIcon {
  width: 40%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navIcon a {
  height: fit-content;
}

.navImage {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.search {
  width: 40px;
}

.fa-search {
  width: 40px;
  height: auto;
}

.navImage:hover {
  fill: #ff8600;
  transition: all 400ms ease;
}

.nav-mobile {
  overflow: hidden;
  background-color: white;
  position: relative;
  display: none;
  flex-direction: column;
}
.nav-mobile a {
  color: #1d2934;
  text-decoration: none;
}
.active {
  color: #1d2934;
  margin: 20px;
  font-size: 1rem;
}
.nav-mobile #menu-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 2%;
  padding: 20px 20px 0px 0px;
  cursor: pointer;
}

.nav-mobile #menu-button:hover .line {
  background-color: #ff8600;
}

.line {
  width: 25px;
  height: 3px;
  margin: 2px;
  background-color: #1d2934;
}

#mobile-link {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0%;
  right: 0;
  transform: translate3d(0, -100vh, 0);
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#mobile-link a {
  color: #333;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 0.8rem;
}

#mobile-link img {
  width: 150px;
  height: auto;
}

#mobile-link span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 0px 0px;
  font-size: 2rem;
  cursor: pointer;
}
#mobile-link span:hover {
  color: #ff8600;
}

#mobile-link a:hover {
  text-decoration: none;
  color: #ff8600;
}

#mobile-link.show {
  transform: translate3d(0, 0vh, 0);
}

.footerContent {
  background-color: #ff8600;
  color: #0b3641;
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: lighter;
  padding-bottom: 40px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paymentImage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  margin: 5px 0px;
  font-size: 16px;
  font-weight: lighter;
}

.footerImage {
  height: 40px;
  width: 64px;
  margin: 0px 5px;
}

.giftCardsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  font-size: 16px;
  font-weight: lighter;
}

.deliveryPartners {
  margin: 5px 0px;
  font-size: 16px;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  margin: 40px 0px 20px 0px;
}

@media only screen and (max-width: 1000px) {
  .desktop-menu {
    display: none;
  }
  .navText {
    display: none;
  }
  .navIcon {
    display: none;
  }
  .navHeadline {
    display: none;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  .headerDivider {
    display: none;
  }

  .pageHeaderDivider {
    display: none;
  }

  .backButton svg {
    width: 32px;
    height: auto;
  }
  .menuButton .menuIcon {
    color: white;
  }

  .searchContent button {
    display: none;
  }

  button {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .menuContent {
    display: flex;
    flex-direction: row;
    width: 100px;
  }
  .menuButton {
    width: 40px;
    height: 40px;
    background: none;
    margin-left: 24px;
    cursor: pointer;
  }
  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-title {
    font-style: normal;
  }

  .headerContent .pageHeader {
    font-size: 24px;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .footerContent h3 {
    font-size: 16px;
  }
  .footerContent ul {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .active {
    margin: 10px;
    font-size: 0.8rem;
  }
  .nav-mobile #menu-button {
    top: 10%;
    padding: 10px 10px 0px 0px;
  }
  .line {
    width: 20px;
    height: 2px;
    margin: 1px;
    background-color: black;
  }
}
@media screen and (max-width: 400px) {
  #mobile-link span {
    font-size: 1rem;
  }
}
