* {
  overflow-x: hidden;
  border: none;
  padding: 0px;
  margin: 0px;
}

.layout {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

body {
  background-color: white;
  color: #0b3641;
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 100vh;
}

button {
  transition: all 400ms ease;
  cursor: pointer;
}
span {
  transition: all 400ms ease;
}
p {
  font-size: 16px;
}

.menuContent {
  display: none;
}

.headerMobile {
  display: none;
}

.cartContentMobile {
  display: none;
}

.navHeadlineMobile {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}
.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

.pageHeaderDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: fit-content;
  height: 40px;
  border: none;
}

.backButton svg {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.backButton svg:hover {
  fill: #ff8600;
}

.pageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: normal;
  color: white;
  width: 300px;
}

.searchContent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  width: fit-content;
  width: 300px;
  border-radius: 5px;
  height: 40px;
  border: 2px solid white;
}

.searchContent input[type="text"] {
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  width: 300px;
}

.searchContent button {
  width: 80px;
  height: 40px;
  background: #0b3641;
  color: white;
  font-size: 16px;
  overflow-y: hidden;
  cursor: pointer;
  transition: all 400ms ease;
}

.searchContent:hover {
  border: 2px solid #ff8600;
}
.searchContent:hover button {
  background-color: #ff8600;
  color: #ffffff;
}

.searchContent::after {
  content: "";
  clear: both;
  display: table;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px 0px 0px 50px;
  width: 400px;
}

.navText {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

.navHeadline {
  width: 400px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navHeader {
  align-items: center;
  font-size: 48px;
  cursor: pointer;
}

.navHeader:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.navIcon {
  width: 400px;
  margin: 64px 40px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navImage {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.navImage:hover {
  fill: #ff8600;
  transition: all 400ms ease;
}

.footerContent {
  background-color: #ff8600;
  color: #0b3641;
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: lighter;
  padding-bottom: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paymentImage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  margin: 5px 0px;
  font-size: 16px;
  font-weight: lighter;
}

.footerImage {
  height: 40px;
  width: 64px;
  margin: 0px 5px;
}

.giftCardsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  font-size: 16px;
  font-weight: lighter;
}

.deliveryPartners {
  margin: 5px 0px;
  font-size: 16px;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  margin: 40px 0px 20px 0px;
}
