.layout {
  height: 100vh;
  width: 100vw;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.profile svg {
  margin-left: 20px;
  cursor: pointer;
}
.profile svg:hover {
  fill: #ff8600;
}
.favourite svg {
  margin-left: 20px;
  cursor: pointer;
}
.favourite svg:hover {
  fill: #ff8600;
}

a {
  text-decoration: none;
  color: #0b3641;
  font-size: 36px;
}

a:hover {
  color: #ff8600;
}
