.layout {
  background-color: #0b3641;
  max-width: 100vw;
  max-height: 100vh;
}

.headerDivider {
  background-color: gray;
  padding: 1px;
  margin: 20px;
}

.pageHeaderDivider {
  background-color: gray;
  padding: 1px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.pageHeader {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: white;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-bottom: 80px;
}

.sideImageContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.sideImage {
  width: 98px;
  height: 116px;
  margin: 0px 20px 10px 50px;
  cursor: pointer;
  border: 2px solid #0b3641;
  border-radius: 16px;
}

.sideImageContainer img:hover {
  border: 2px solid #ff8600;
}

.mainImage {
  height: 637px;
  width: 480px;
  margin: 40px 40px 10px 0px;
  border-radius: 16px;
}

.infoContainer {
  padding-top: 20px;
}

.brand {
  text-decoration: underline;
  font-size: 16px;
  padding-bottom: 5px;
  cursor: pointer;
}

.product {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.price {
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 24px;
}

.color {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

.colorText {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
}

p {
  color: white;
}

span {
  color: white;
}

.colorContainer {
  display: flex;
  flex-direction: row;
}

.colorContainer button {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  margin-bottom: 64px;
}

.color1 {
  background-color: red;
  border: 2px;
  cursor: pointer;
}

.color1:hover {
  border: 2px solid rgb(121, 17, 17);
  transition: all 400ms ease;
}

.color2 {
  background-color: yellow;
  border: 2px;
}

.color2:hover {
  border: 2px solid rgb(133, 133, 19);
  transition: all 400ms ease;
}

.color3 {
  background-color: blue;
  border: 2px;
}

.color3:hover {
  border: 2px solid rgb(10, 10, 161);
  transition: all 400ms ease;
}

.color4 {
  background-color: green;
  border: 2px;
}

.color4:hover {
  border: 2px solid rgb(7, 85, 7);
  transition: all 400ms ease;
}

.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropDown button {
  height: 48px;
  width: 240px;
  border-radius: 16px;
  border: 1px solid #0b3641;
  color: black;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: pointer;
}

.dropDown:hover button {
  border: 3px solid black;
  transition: all 400ms ease;
}

.dropDown span {
  color: black;
  margin-left: 100px;
}

.addFavourite {
  display: flex;
  flex-direction: row;
}

.shoppingButton {
  height: 48px;
  width: 180px;
  border-radius: 16px;
  border: 1px solid white;
  background-color: #ff8600;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.shoppingButton p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  cursor: pointer;
}

.shoppingCart {
  width: 20px;
  height: 20px;
  padding-top: 12px;
  padding-right: 20px;
  cursor: pointer;
}

.shoppingButton:hover {
  background-color: white;
  border: 1px solid #ff8600;
  transition: all 400ms ease;
}

.shoppingButton:hover p {
  color: #ff8600;
  transition: all 400ms ease;
}

.shoppingButton:hover .shoppingCart {
  fill: #ff8600;
  transition: all 400ms ease;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
  position: relative;
  padding-bottom: 10px;
}

.favouriteButton {
  height: 48px;
  width: 48px;
  border-radius: 16px;
  border: 1px solid #ffffff;
  color: white;
  background-color: #ff8600;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  cursor: pointer;
  padding-top: 8px;
  overflow-y: hidden;
}

.favouriteButton:hover {
  background-color: #ffffff;
  border: 1px solid #ff8600;
  transition: all 400ms ease;
}

.favouriteButton:hover .favouriteIcon {
  fill: #ff8600;
  transition: all 400ms ease;
}

.incrementDecrement {
  margin-top: 8px;
  background-color: white;
  border: 2px solid white;
  border-radius: 16px;
  width: 140px;
  display: flex;
  flex-direction: row;
}

.minusButton {
  height: 46px;
  width: 48px;
  font-size: 20px;
  background-color: #0b3641;
  color: white;
  cursor: pointer;
}

.minusButton:hover {
  background-color: #115464;
  font-size: 40px;
  transition: all 400ms ease;
}

.count {
  height: 46px;
  width: 48px;
  color: #0b3641;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 12px;
}

.plusButton {
  height: 46px;
  width: 48px;
  font-size: 20px;
  background-color: #0b3641;
  color: white;
}

.plusButton:hover {
  background-color: #115464;
  font-size: 40px;
  transition: all 400ms ease;
}

.additionalInfo {
  margin-top: 16px;
  border-bottom: 1px solid white;
}

.dropInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 240px;
  background-color: #0b3641;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0;
  cursor: pointer;
}

.dropInfo p {
  font-size: 16px;
  margin: 0;
}

.dropInfo span {
  font-size: 16px;
  margin: 0;
}

.dropInfo:hover p {
  font-weight: bold;
  transition: all 400ms ease;
}
.dropInfo:hover span {
  font-weight: bold;
  transition: all 400ms ease;
}
