.productPage {
  width: 100vw;
}
.headerContent {
  width: 100vw;
}
.headerContent .backButton {
  color: #0b3641;
}
.headerContent h2 {
  margin-bottom: 50px;
}
.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px;
  width: 80vw;
  margin: auto;
  border: 1px solid black;
  padding-top: 50px;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 80px;
  width: 40%;
  align-items: center;
  margin: 50px;
}
.mainImage {
  width: 100%;
  height: auto;
}
.main {
  width: 100%;
}

.sideImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.side {
  width: 10%;
  margin: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: fit-content;
  background-color: rgb(218, 218, 218);
  margin: 50px;
  padding: 50px 0px;
}

.brand {
  text-decoration: underline;
  font-size: 16px;
  padding-bottom: 5px;
  transition: all 400ms ease;
}

.brand:hover {
  color: #ff8600;
  font-size: 20px;
}

.product {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.price {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 16px;
}

p {
  color: #0b3641;
}

span {
  color: #0b3641;
}

.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropDown select {
  height: 40px;
  width: 240px;
  border-radius: 5px;
  border: 2px solid #0b3641;
  color: #0b3641;
  background-color: white;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 16px;
  padding: 0px 16px;
  cursor: pointer;
}

.dropDown:hover select {
  border: 3px solid #0b3641;
}

.dropDown span {
  color: #0b3641;
  margin-left: 100px;
}

.addFavourite {
  display: flex;
  flex-direction: row;
}

.shoppingButton {
  height: 40px;
  width: 180px;
  border-radius: 5px;
  padding-bottom: 16px;
  border: 2px solid white;
  background-color: #ff8600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.shoppingButton p {
  font-weight: lighter;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  cursor: pointer;
}

.shoppingCart {
  width: 20px;
  height: 20px;
  padding-top: 12px;
  padding-right: 20px;
  cursor: pointer;
}

.shoppingButton:hover {
  background-color: white;
  border: 2px solid #ff8600;
}

.shoppingButton:hover p {
  color: #ff8600;
}

.shoppingButton:hover .shoppingCart {
  fill: #ff8600;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
  position: relative;
  padding-bottom: 16px;
}

.favouriteButton {
  height: 40px;
  width: 48px;
  padding-top: 3px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  color: white;
  background-color: #ff8600;
  font-weight: bold;
  cursor: pointer;
  overflow-y: hidden;
}

.favouriteButton:hover {
  background-color: #ffffff;
  border: 1px solid #ff8600;
}

.favouriteButton:hover .favouriteIcon {
  fill: #ff8600;
}

.additionalInfo {
  margin-top: 16px;
}

.dropInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 240px;
  background-color: #0b3641;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 5px 0px;
  cursor: pointer;
}

.dropInfo p {
  font-size: 16px;
  margin-top: 4px;
  color: white;
}

.dropInfo span {
  font-size: 16px;
  transform: rotate(180deg);
  color: white;
}

.dropInfo:hover p {
  font-weight: bold;
  transition: all 400ms ease;
}
.dropInfo:hover span {
  font-weight: bold;
  transition: all 400ms ease;
}

@media only screen and (max-width: 1000px) {
  .headerContent .searchContent {
    border-radius: 16px;
  }
  .headerContent {
    padding: 0px 30px;
  }
  .headerContent .backButton {
    width: 100px;
  }
  .pageHeader {
    margin: 40px 10px;
    width: 100px;
  }
  .headerContent .searchContent {
    width: 100px;
    height: 20px;
    border-radius: 16px;
    overflow-y: hidden;
  }

  .contentContainer {
    flex-direction: column;
    align-content: center;
    margin: 0px;
    height: fit-content;
  }
  .productPage {
    height: fit-content;
  }
  .imageContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .sideImageContainer {
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .sideImage {
    margin: 0px 5px;
    padding: 0px;
    width: 10%;
    border-radius: 16px;
  }
  .mainImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainImage {
    width: 70%;
    align-items: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    border-radius: 16px;
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 80px;
  }
  .infoContainer .dropInfo {
    margin: 10px 0px;
  }
  .brand {
    font-size: 12px;
  }
  .brand:hover {
    font-size: 16px;
  }
  .price {
    font-size: 12px;
  }
  .color {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .product {
    font-size: 16px;
  }
  .colorContainer {
    align-items: center;
    justify-content: space-between;
  }
  .colorContainer button {
    margin: 12px 10px;
    border-radius: 16px;
    height: 20px;
    width: 20px;
  }
  .dropDown {
    margin: 12px 0px;
  }
  .dropDown select {
    margin: 0px;
    font-size: 12px;
    height: 20px;
    width: 160px;
  }
  .addFavourite {
    margin: 12px 0px;
  }
  .shoppingButton {
    height: 20px;
    width: 120px;
    overflow-y: hidden;
  }
  .shoppingButton p {
    font-size: 12px;
  }
  .shoppingCart {
    width: 10px;
    height: 10px;
    padding-top: 16px;
  }
  .buttonContainer {
    margin-right: 4px;
  }
  .favouriteButton {
    width: 30px;
    height: 20px;
    border-radius: 16px;
    padding: 0px;
  }
  .favouriteButton .favouriteIcon {
    width: 10px;
    height: 10px;
    padding: 0px;
  }
  .incrementDecrement {
    margin-right: 36px;
    padding-bottom: 0px;
    height: 16px;
    width: 116px;
    overflow-y: hidden;
  }
  .count {
    margin: 0px;
    font-size: 12px;
    padding-top: 2px;
  }
  .additionalInfo {
    margin: 16px 0px 0px 0px;
    padding: 0px;
    height: fit-content;
    border-bottom: none;
  }
  .dropInfo {
    height: 20px;
    width: 160px;
    margin: 0px;
    padding: 0px;
    border-top: none;
  }
  .dropInfo p {
    font-size: 12px;
    height: fit-content;
    margin: 0px;
    padding: 0px;
  }
  .dropInfo span {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
}
