.headerContent {
  padding: 0px 80px;
}
.headerContent .backButton {
  width: 300px;
  height: auto;
  border: none;
}
.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 80px;
  width: fit-content;
  align-items: center;
}

.mainImage {
  width: 50%;
  height: auto;
}
.main {
  width: 100%;
}

.sideImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.side {
  width: 10%;
  margin: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-right: auto;
}

.brand {
  text-decoration: underline;
  font-size: 16px;
  padding-bottom: 5px;
  transition: all 400ms ease;
}

.brand:hover {
  color: #ff8600;
  font-size: 20px;
}

.product {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.price {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 16px;
}

p {
  color: white;
}

span {
  color: white;
}

.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropDown select {
  height: 40px;
  width: 240px;
  border-radius: 5px;
  border: 2px solid #0b3641;
  color: #0b3641;
  background-color: white;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 16px;
  padding: 0px 16px;
  cursor: pointer;
}

.dropDown:hover select {
  border: 3px solid #0b3641;
}

.dropDown span {
  color: #0b3641;
  margin-left: 100px;
}

.addFavourite {
  display: flex;
  flex-direction: row;
}

.shoppingButton {
  height: 40px;
  width: 180px;
  border-radius: 5px;
  padding-bottom: 16px;
  border: 2px solid white;
  background-color: #ff8600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.shoppingButton p {
  font-weight: lighter;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  cursor: pointer;
}

.shoppingCart {
  width: 20px;
  height: 20px;
  padding-top: 12px;
  padding-right: 20px;
  cursor: pointer;
}

.shoppingButton:hover {
  background-color: white;
  border: 2px solid #ff8600;
}

.shoppingButton:hover p {
  color: #ff8600;
}

.shoppingButton:hover .shoppingCart {
  fill: #ff8600;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
  position: relative;
  padding-bottom: 16px;
}

.favouriteButton {
  height: 40px;
  width: 48px;
  padding-top: 3px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  color: white;
  background-color: #ff8600;
  font-weight: bold;
  cursor: pointer;
  overflow-y: hidden;
}

.favouriteButton:hover {
  background-color: #ffffff;
  border: 1px solid #ff8600;
}

.favouriteButton:hover .favouriteIcon {
  fill: #ff8600;
}

.additionalInfo {
  margin-top: 16px;
}

.dropInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 240px;
  background-color: #0b3641;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 5px 0px;
  cursor: pointer;
}

.dropInfo p {
  font-size: 16px;
  margin-top: 4px;
}

.dropInfo span {
  font-size: 16px;
  transform: rotate(180deg);
}

.dropInfo:hover p {
  font-weight: bold;
  transition: all 400ms ease;
}
.dropInfo:hover span {
  font-weight: bold;
  transition: all 400ms ease;
}
