.headerContent {
  padding: 0px 80px;
}
.headerContent .backButton {
  width: 300px;
  height: auto;
  border: none;
}
.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  width: 50%;
}

img {
  width: 80%;
}

.infoContainer {
  padding-top: 20px;
}

.brand {
  text-decoration: underline;
  font-size: 16px;
  padding-bottom: 5px;
  transition: all 400ms ease;
}

.brand:hover {
  color: #ff8600;
  font-size: 20px;
}

.product {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.price {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 16px;
}

.color {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.colorText {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
}

p {
  color: white;
}

span {
  color: white;
}

.colorContainer {
  display: flex;
  flex-direction: row;
}

.colorContainer button {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
  border: 2px solid auto;
  border-radius: 16px;
  cursor: pointer;
}

.color1 {
  background-color: red;
}

.color1:hover {
  background-color: rgb(121, 17, 17);
}

.color2 {
  background-color: yellow;
}

.color2:hover {
  background-color: rgb(133, 133, 19);
}

.color3 {
  background-color: blue;
}

.color3:hover {
  background-color: rgb(10, 10, 161);
}

.color4 {
  background-color: green;
}

.color4:hover {
  background-color: rgb(7, 85, 7);
}

.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropDown select {
  height: 40px;
  width: 240px;
  border-radius: 30px;
  border: 2px solid #0b3641;
  color: #0b3641;
  background-color: white;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 16px;
  padding-left: 16px;
  cursor: pointer;
}

.dropDown:hover select {
  border: 3px solid #0b3641;
}

.dropDown span {
  color: #0b3641;
  margin-left: 100px;
}

.addFavourite {
  display: flex;
  flex-direction: row;
}

.shoppingButton {
  height: 40px;
  width: 180px;
  border-radius: 30px;
  padding-bottom: 16px;
  border: 2px solid white;
  background-color: #ff8600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.shoppingButton p {
  font-weight: lighter;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  cursor: pointer;
}

.shoppingCart {
  width: 20px;
  height: 20px;
  padding-top: 12px;
  padding-right: 20px;
  cursor: pointer;
}

.shoppingButton:hover {
  background-color: white;
  border: 2px solid #ff8600;
}

.shoppingButton:hover p {
  color: #ff8600;
}

.shoppingButton:hover .shoppingCart {
  fill: #ff8600;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
  position: relative;
  padding-bottom: 16px;
}

.favouriteButton {
  height: 40px;
  width: 48px;
  padding-top: 3px;
  border-radius: 30px;
  border: 2px solid #ffffff;
  color: white;
  background-color: #ff8600;
  font-weight: bold;
  cursor: pointer;
  overflow-y: hidden;
}

.favouriteButton:hover {
  background-color: #ffffff;
  border: 1px solid #ff8600;
}

.favouriteButton:hover .favouriteIcon {
  fill: #ff8600;
}

.incrementDecrement {
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  width: 140px;
  height: 36px;
  display: flex;
  flex-direction: row;
}

.minusButton {
  width: 48px;
  font-size: 16px;
  background-color: #0b3641;
  color: white;
  cursor: pointer;
  overflow-y: hidden;
}

.minusButton:hover {
  background-color: #115464;
  font-size: 20px;
}

.count {
  width: 48px;
  color: #0b3641;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 10px;
  overflow-y: hidden;
}

.plusButton {
  width: 48px;
  font-size: 16px;
  background-color: #0b3641;
  color: white;
  overflow-y: hidden;
}

.plusButton:hover {
  background-color: #115464;
  font-size: 20px;
}

.additionalInfo {
  margin-top: 16px;
  border-bottom: 1px solid white;
}

.dropInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 240px;
  background-color: #0b3641;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 5px 0px;
  cursor: pointer;
}

.dropInfo p {
  font-size: 16px;
  margin-top: 4px;
}

.dropInfo span {
  font-size: 16px;
  transform: rotate(180deg);
}

.dropInfo:hover p {
  font-weight: bold;
  transition: all 400ms ease;
}
.dropInfo:hover span {
  font-weight: bold;
  transition: all 400ms ease;
}
