.layout {
  /* max-width: 100vw;
  max-height: 100vh; */
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .menuButton .menuIcon {
    color: white;
  }
}
@media only screen and (min-width: 412px) and (max-width: 767px) {
  .navHeadlineMobile {
    margin-left: 32px;
    color: white;
  }
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  nav {
    display: none;
  }
}

.headerDivider {
  background-color: gray;
  padding: 1px;
  margin: 20px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .headerDivider {
    display: none;
    margin: 0px;
    padding: 0px;
    border: none;
  }
}

.pageHeaderDivider {
  background-color: gray;
  padding: 1px;
  margin: 20px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .pageHeaderDivider {
    display: none;
    margin: 0px;
    padding: 0px;
    border: none;
  }
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.pageHeader {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: white;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .pageHeader {
    font-size: 32px;
    margin: 20px 0px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .contentContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-bottom: 80px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .imageContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0px;
  }
}

.sideImageContainer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .sideImageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0px;
  }
}

.sideImage {
  width: 98px;
  height: 116px;
  margin: 0px 20px 10px 50px;
  cursor: pointer;
  border: 2px solid #0b3641;
  border-radius: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .sideImage {
    margin: 0px 5px;
    padding: 0px;
    width: 9%;
    height: auto;
  }
}

.sideImageContainer img:hover {
  border: 2px solid #ff8600;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .mainImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mainImage {
  height: 637px;
  width: 480px;
  margin: 40px 40px 10px 0px;
  border-radius: 16px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .mainImage {
    width: 60%;
    height: auto;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
}

.infoContainer {
  padding-top: 20px;
}

@media only screen and (min-width: 412px) and (max-width: 767px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
}

.brand {
  text-decoration: underline;
  font-size: 16px;
  padding-bottom: 5px;
  cursor: pointer;
}

.product {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}

.price {
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 24px;
}

.color {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

.colorText {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
}

p {
  color: white;
}

span {
  color: white;
}

.colorContainer {
  display: flex;
  flex-direction: row;
}

.colorContainer button {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}

.color1 {
  background-color: red;
  border: 2px;
  cursor: pointer;
}

.color1:hover {
  background-color: rgb(121, 17, 17);
  transition: all 200ms ease;
}

.color2 {
  background-color: yellow;
  border: 2px;
}

.color2:hover {
  background-color: rgb(133, 133, 19);
  transition: all 200ms ease;
}

.color3 {
  background-color: blue;
  border: 2px;
}

.color3:hover {
  background-color: rgb(10, 10, 161);
  transition: all 200ms ease;
}

.color4 {
  background-color: green;
  border: 2px;
}

.color4:hover {
  background-color: rgb(7, 85, 7);
  transition: all 200ms ease;
}

.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropDown select {
  height: 48px;
  width: 240px;
  border-radius: 16px;
  border: 2px solid #0b3641;
  color: black;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  padding-left: 5px;
  cursor: pointer;
}

.dropDown:hover select {
  border: 3px solid black;
}

.dropDown span {
  color: black;
  margin-left: 100px;
}

.addFavourite {
  display: flex;
  flex-direction: row;
}

.shoppingButton {
  height: 48px;
  width: 180px;
  border-radius: 16px;
  border: 1px solid white;
  background-color: #ff8600;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.shoppingButton p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  cursor: pointer;
}

.shoppingCart {
  width: 20px;
  height: 20px;
  padding-top: 12px;
  padding-right: 20px;
  cursor: pointer;
}

.shoppingButton:hover {
  background-color: white;
  border: 1px solid #ff8600;
  transition: all 400ms ease;
}

.shoppingButton:hover p {
  color: #ff8600;
  transition: all 400ms ease;
}

.shoppingButton:hover .shoppingCart {
  fill: #ff8600;
  transition: all 400ms ease;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
  position: relative;
  padding-bottom: 10px;
}

.favouriteButton {
  height: 48px;
  width: 48px;
  border-radius: 16px;
  border: 1px solid #ffffff;
  color: white;
  background-color: #ff8600;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  cursor: pointer;
  padding-top: 8px;
  overflow-y: hidden;
}

.favouriteButton:hover {
  background-color: #ffffff;
  border: 1px solid #ff8600;
  transition: all 400ms ease;
}

.favouriteButton:hover .favouriteIcon {
  fill: #ff8600;
  transition: all 400ms ease;
}

.incrementDecrement {
  margin-top: 8px;
  background-color: white;
  border: 2px solid white;
  border-radius: 16px;
  width: 140px;
  display: flex;
  flex-direction: row;
}

.minusButton {
  height: 46px;
  width: 48px;
  font-size: 20px;
  background-color: #0b3641;
  color: white;
  cursor: pointer;
}

.minusButton:hover {
  background-color: #115464;
  font-size: 40px;
  transition: all 400ms ease;
}

.count {
  height: 46px;
  width: 48px;
  color: #0b3641;
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 12px;
}

.plusButton {
  height: 46px;
  width: 48px;
  font-size: 20px;
  background-color: #0b3641;
  color: white;
}

.plusButton:hover {
  background-color: #115464;
  font-size: 40px;
  transition: all 400ms ease;
}

.additionalInfo {
  margin-top: 16px;
  border-bottom: 1px solid white;
}

.dropInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  width: 240px;
  background-color: #0b3641;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0;
  cursor: pointer;
}

.dropInfo p {
  font-size: 16px;
  margin: 0;
}

.dropInfo span {
  font-size: 16px;
  margin: 0;
}

.dropInfo:hover p {
  font-weight: bold;
  transition: all 400ms ease;
}
.dropInfo:hover span {
  font-weight: bold;
  transition: all 400ms ease;
}
