.content {
  color: #0b3641;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.overview {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: 0px auto 50px auto;
}

.overviewName {
  color: #0b3641;
  font-size: 1rem;
  width: 33%;
  text-align: center;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(165, 165, 165, 0.466);
  width: 80vw;
  margin: 0px auto 50px auto;
  padding: 50px 0px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.remove {
  color: #0b3641;
  font-size: 1rem;
  background: none;
  cursor: pointer;
}

.remove:hover {
  color: #ff8600;
}

.item {
  width: 160px;
  height: auto;
  margin: 25px 0px;
  border-radius: 5px;
}

.nameItem {
  color: #0b3641;
  font-size: 16px;
}

.quantity {
  color: #0b3641;
  font-size: 1rem;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  color: #0b3641;
  font-size: 1rem;
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.finish {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
}

.finishOverview {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 25px;
}

.subtotal {
  color: #0b3641;
  font-size: 1rem;
}

.finalPrice {
  color: #0b3641;
  font-size: 1rem;
}

.checkout {
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #ff8600;
  color: #0b3641;
  cursor: pointer;
  padding: 5px 10px;
  box-shadow: 2px 2px 2px rgba(165, 165, 165, 0.486);
}

.checkout:hover {
  background-color: white;
  color: #ff8600;
  transition: all 400ms ease;
}

@media only screen and (max-width: 1000px) {
  .headerContent {
    padding: 0px 70px 0px 30px;
    height: fit-content;
  }
  .headerContent .pageHeader {
    width: 300px;
    margin: 40px 0px;
  }
  .content {
    align-items: center;
  }
  .overview {
    width: fit-content;
    margin: 20px 0px;
  }

  .overviewName {
    width: 100px;
    font-size: 12px;
  }
  .cartItem {
    height: fit-content;
    border-radius: 16px;
    padding: 10px;
    margin: 20px 200px;
  }
  .itemContainer {
    justify-content: center;

    width: fit-content;
  }
  .remove {
    width: 100px;
    font-size: 16px;
  }
  .item {
    width: 100px;
    height: 140px;
    border-radius: 16px;
  }

  .item img {
    height: 120px;
  }
  .nameItem {
    width: fit-content;
    font-size: 11px;
  }
  .quantity {
    width: 100px;
    font-size: 16px;
  }
  .price {
    width: 100px;
    font-size: 16px;
  }
  .finish {
    width: fit-content;
    height: auto;
    margin-top: 0px;
  }

  .finishOverview p {
    font-size: 12px;
  }
  .finalPrice {
    font-size: 12px;
  }
  .checkoutContainer {
    margin: 20px;
  }

  .checkout {
    border-radius: 16px;
    font-size: 12px;
    height: 20px;
    width: 100px;
  }
}
