.navigation {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  justify-content: space-around;
  width: 100vw;
}

.mobileFilter {
  display: none;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
}

.headerContent .backButton {
  width: 300px;
  height: 40px;
  border: none;
}

.filtersContainer {
  padding-top: 40px;
}

.filterButton {
  background-color: #0b3641;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 80px;
  height: 40px;
  border: 2px solid white;
  border-radius: 16px;
}

.filterButton:hover {
  font-size: 16px;
  background: #ff8600;
}

.dirContainer {
  margin-top: 40px;
}

.dirText {
  padding-right: 10px;
  color: white;
  cursor: pointer;
}

.dirText:hover {
  color: #ff8600;
}

span .arrow {
  width: 20px;
  height: 16px;
}

.shopContent {
  display: flex;
  flex-direction: row;
}

.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow-y: hidden;
}

.imageContainer .favourite {
  position: absolute;
  top: 5%;
  left: 75%;
  background-color: none;
  border: none;
  cursor: pointer;
  fill: #f8bc78;
  width: 32px;
  height: 32px;
}

.favourite:hover {
  fill: #ff8600;
}

.productCard {
  background-color: white;
  padding: 2px 2px 12px 2px;
  margin: 0px 24px 80px 24px;
  border-radius: 30px;
  cursor: pointer;
}

.productCard:hover {
  background-color: #ff8600;
}

.productCard img {
  width: 228px;
  height: 280px;
  border-radius: 30px;
  cursor: pointer;
}

.productCard:hover img {
  transition: all 400ms ease;
  transform: scale(1.2);
}

.row1 {
  display: flex;
  flex-direction: row;
}

.row1 .brandName {
  font-size: 12px;
  width: 180px;
  margin-left: 10px;
  color: #0b3641;
  padding: 10px 0px;
  font-weight: bold;
  text-transform: capitalize;
}

.row1 .price {
  font-size: 12px;
  color: #0b3641;
  padding-top: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.row2 p {
  font-size: 12px;
  margin-left: 10px;
  color: #0b3641;
  font-weight: bold;
  text-transform: capitalize;
}

.pageSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 16px;
  color: white;
}

.pageSelector span {
  color: white;
  margin: 0px 10px;
}

.pageSelector svg {
  cursor: pointer;
}

.pageSelector svg:hover {
  fill: #ff8600;
}
