.layout {
  background-color: #0b3641;
  background: linear-gradient(to left top, #0b3641 40%, #115a6d 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

.headerDivider {
  background-color: gray;
  padding: 1px;
  margin: 20px;
}

.pageHeaderDivider {
  background-color: gray;
  padding: 1px;
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  justify-content: space-between;
}

.pageHeader {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: white;
  width: 84%;
}

.filtersContainer {
  padding-right: 288px;
  padding-top: 40px;
}

.filterButton {
  background-color: white;
  color: #0b3641;
  font-weight: bold;
  font-size: 16px;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.filterButton:hover {
  text-decoration: #ff8600;
  font-size: 18px;
  border: 2px solid #ff8600;
  transition: all 400ms ease;
}

.dirContainer {
  padding-left: 88px;
  padding-top: 10px;
}

.dirText {
  padding-right: 10px;
  font-weight: bold;
  color: white;
}

.shopContent {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.filter {
  display: flex;
  flex-direction: column;
  padding: 100px 50px 10px 50px;
  width: 160px;
  border-right: 2px solid gray;
}

.dirButton {
  background: none;
  padding: 5px 0px;
  border: none;
  margin: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
}

.dirButton:hover {
  text-transform: uppercase;
  font-weight: bold;
  width: max-content;
  transition: all 400ms ease;
}

.productPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.firstRow {
  display: flex;
  flex-direction: row;
}

.secondRow {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.imageContainer .favourite {
  position: absolute;
  top: 5%;
  left: 75%;
  background-color: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  width: 24px;
  height: 24px;
}

.favourite:hover {
  fill: #ff8600;
  transition: all 400ms ease;
}

.productCard {
  padding-left: 80px;
  width: fit-content;
  border: none;
  margin: 0;
}

.productCard img {
  width: 224px;
  height: 280px;
  border-radius: 30px;
  border: 2px solid #0b3641;
  cursor: pointer;
}

img:hover {
  border: 2px solid #ff8600;
  transition: all 400ms ease;
}

.productDetails {
  width: 240px;
  height: 100px;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0;
  padding: 0;
  border: none;
}

.row1 .brandName {
  font-size: 12px;
  border: none;
  margin: 0;
  color: white;
  padding-right: 100px;
}

.row1 .price {
  font-size: 12px;
  border: none;
  margin: 0;
  color: white;
  padding: 0;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border: none;
}

.row2 p {
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: none;
  color: white;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
}

.page span {
  color: white;
}

.page p {
  color: white;
}
