.layout {
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}
.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}
.headerDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

.pageHeaderDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px 0px 80px;
}

.backButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: fit-content;
  height: 40px;
  border: none;
}

.backButton svg {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.backButton svg:hover {
  fill: #ff8600;
}

.pageHeader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0px;
  font-size: 48px;
  color: white;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  margin: 40px 80px;
}

.overviewName {
  margin: 0px;
  color: white;
  font-size: 32px;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px 0px;
  background: white;
  margin: 0px 80px;
  border-radius: 30px;
  border: 4px solid #ff8600;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.remove {
  color: #0b3641;
  font-size: 32px;
  background: none;
  margin: 0px;
  cursor: pointer;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.remove:hover {
  color: #ff8600;
  border-radius: 50%;
}

.item {
  width: 160px;
  height: auto;
  margin: 40px 0px 0px 0px;
  border-radius: 30px;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item:hover {
  border: 2px solid #ff8600;
}

.nameItem {
  color: #0b3641;
  font-size: 24px;
  font-weight: lighter;
  width: 240px;
  margin: 40px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.quantity {
  color: #0b3641;
  font-size: 32px;
  margin: 0px;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.price {
  color: #0b3641;
  font-size: 32px;
  margin: 0px;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.finish {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
  margin: 40px 0px 0px 0px;
}

.finishOverview {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px;
}

.subtotal {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin: 40px 0px;
}

.finalPrice {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0px;
}

.checkoutContainer {
  margin: 40px 0px;
}

.checkout {
  margin: 0px;
  height: 64px;
  width: 240px;
  border-radius: 30px;
  background-color: #ff8600;
  color: white;
  font-size: 32px;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
}

.checkout:hover {
  background-color: white;
  color: #ff8600;
  border: 2px solid #ff8600;
  transition: all 400ms ease;
}
