.layout {
  background-color: #0b3641;
  background: linear-gradient(to left top, #0b3641 40%, #3aafb9 90%);
  background-size: 120% 120%;
  background-position: right bottom;
}

.headerDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

.pageHeaderDivider {
  background-color: white;
  padding: 1px;
  margin: 40px 0px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: #ff8600;
  transition: all 400ms ease;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  justify-content: space-around;
  width: 100vw;
}

.mobileFilter {
  display: none;
}

.pageHeader {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: white;
  margin-top: 20px;
}

.filtersContainer {
  padding-top: 40px;
}

.filterButton {
  background-color: white;
  color: #0b3641;
  font-weight: bold;
  font-size: 16px;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  cursor: pointer;
}

.filterButton:hover {
  text-decoration: #ff8600;
  font-size: 18px;
  border: 2px solid #ff8600;
  color: #ff8600;
}

.dirContainer {
  margin: 40px 0px 0px 0px;
}

.dirText {
  padding-right: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.dirText:hover {
  color: #ff8600;
}

span .arrow {
  width: 20px;
  height: 16px;
}

.shopContent {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.productPage {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  position: relative;
  width: 100%;
  max-width: fit-content;
  border-radius: 30px;
  overflow-y: hidden;
}

.imageContainer .favourite {
  position: absolute;
  top: 5%;
  left: 75%;
  background-color: none;
  border: none;
  cursor: pointer;
  fill: #ffffff;
  width: 32px;
  height: 32px;
}

.favourite:hover {
  fill: #ff8600;
  transition: all 400ms ease;
}

.productCard {
  width: fit-content;
  border: 2px solid white;
  background-color: white;
  padding: 10px 0px 20px 12px;
  margin: 24px;
  margin-bottom: 80px;
  border-radius: 30px;
  cursor: pointer;
}

.productCard:hover {
  border: 2px solid #ff8600;
  background-color: #ff8600;
}

.productCard img {
  width: 228px;
  height: 280px;
  border-radius: 30px;
  cursor: pointer;
}

.productCard:hover img {
  transition: all 400ms ease;
  transform: scale(1.02);
  border-radius: 30px;
}

.productDetails {
  width: 240px;
  height: fit-content;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0px;
  padding: 0px;
  border: none;
}

.row1 .brandName {
  font-size: 12px;
  width: 180px;
  border: none;
  margin-left: 10px;
  color: #0b3641;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}

.row1 .price {
  font-size: 12px;
  border: none;
  margin-right: 10px;
  color: #0b3641;
  padding-top: 10px;
  font-weight: bold;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  border: none;
}

.row2 p {
  font-size: 12px;
  padding: 0px;
  margin-left: 10px;
  border: none;
  color: #0b3641;
  font-weight: bold;
}

.pageSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
  margin-left: 16px;
  color: white;
}

.pageSelector span {
  color: white;
  margin: 0px 10px;
}

.pageSelector p {
  color: white;
}

.pageSelector svg {
  cursor: pointer;
}

.pageSelector svg:hover {
  fill: #ff8600;
}
