.navigation {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  justify-content: space-around;
  width: 100vw;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 80vw;
  background-color: rgba(228, 228, 228, 0.459);
  box-shadow: 3px 3px 3px rgba(165, 165, 165, 0.473);
  margin-bottom: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.item {
  width: 100%;
}

.productTitle {
  color: #0b3641;
  margin: 0px auto 25px auto;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  width: max-content;
}

img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 25px auto;
}

.productPrice {
  color: #0b3641;
  display: flex;
  justify-content: center;
}

.productButton {
  margin-top: 20px;
  height: 32px;
  font-size: 16px;
  width: 160px;
  border-radius: 5px;
  background-color: #ff8600;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .navigation {
    display: none;
  }
  .dirContainer {
    display: none;
  }
  .filter {
    display: none;
  }
  .mobileFilter {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: none;
    border: 2px solid white;
    color: white;
    align-items: flex-start;
    width: 160px;
    height: 20px;
    font-size: 12px;
    border-radius: 16px;
    border: 2px solid white;
    padding: 0px 8px 0px 8px;
  }
  .mobileFilter:hover {
    color: #ff8600;
    border: 2px solid #ff8600;
  }
  .headerContent {
    padding: 0px 30px;
  }
  .headerContent .backButton {
    width: 100px;
  }
  .pageHeader {
    margin: 40px 10px;
    width: 100px;
  }
  .headerContent .searchContent {
    width: 100px;
    height: 20px;
    border-radius: 16px;
    overflow-y: hidden;
  }

  .shopContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .row {
    flex-direction: column;
  }

  .pageSelector {
    margin-left: 0px;
  }
}
