.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.headerContent {
  padding: 0px 120px 0px 80px;
}

.pageHeader {
  flex: 1;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  margin: 40px 120px;
}

.overviewName {
  color: white;
  font-size: 16px;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
  margin: 0px 120px;
  background: rgb(212, 224, 228);
  border-radius: 5px;
  border: 2px solid #0b3641;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.remove {
  color: #0b3641;
  font-size: 16px;
  background: none;
  cursor: pointer;
}

.remove:hover {
  color: #ff8600;
}

.item {
  width: 160px;
  height: auto;
  margin: 20px 0px;
  border-radius: 5px;
  border: 2px solid #0b3641;
}

.item:hover {
  border: 2px solid #ff8600;
}

.nameItem {
  color: #0b3641;
  font-size: 16px;
  font-weight: lighter;
}

.quantity {
  color: #0b3641;
  font-size: 24px;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.price {
  color: #0b3641;
  font-size: 24px;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.finish {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
  margin: 60px 0px;
}

.finishOverview {
  display: flex;
  flex-direction: row-reverse;
}

.subtotal {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.finalPrice {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.checkoutContainer {
  margin: 20px 0px;
}

.checkout {
  margin-top: 20px;
  height: 40px;
  font-size: 24px;
  width: 180px;
  border-radius: 5px;
  background-color: #ff8600;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
}

.checkout:hover {
  background-color: white;
  color: #ff8600;
  border: 2px solid #ff8600;
  transition: all 400ms ease;
}

@media only screen and (max-width: 1000px) {
  .headerContent {
    padding: 0px 70px 0px 30px;
    height: fit-content;
  }
  .headerContent .pageHeader {
    width: 300px;
    margin: 40px 0px;
  }
  .content {
    align-items: center;
  }
  .overview {
    width: fit-content;
    margin: 20px 0px;
  }

  .overviewName {
    width: 100px;
    font-size: 12px;
  }
  .cartItem {
    height: fit-content;
    border-radius: 16px;
    padding: 10px;
    margin: 20px 200px;
  }
  .itemContainer {
    justify-content: center;

    width: fit-content;
  }
  .remove {
    width: 100px;
    font-size: 16px;
  }
  .item {
    width: 100px;
    height: 140px;
    border-radius: 16px;
  }

  .item img {
    height: 120px;
  }
  .nameItem {
    width: fit-content;
    font-size: 11px;
  }
  .quantity {
    width: 100px;
    font-size: 16px;
  }
  .price {
    width: 100px;
    font-size: 16px;
  }
  .finish {
    width: fit-content;
    height: auto;
    margin-top: 0px;
  }

  .finishOverview p {
    font-size: 12px;
  }
  .finalPrice {
    font-size: 12px;
  }
  .checkoutContainer {
    margin: 20px;
  }

  .checkout {
    border-radius: 16px;
    font-size: 12px;
    height: 20px;
    width: 100px;
  }
}
