.navigation {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  justify-content: space-around;
  width: 100vw;
}

.mobileFilter {
  display: none;
}

.headerContent {
  padding: 0px 80px;
}

.headerContent .backButton {
  width: 300px;
  height: 40px;
  border: none;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
  height: fit-content;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px;
}

.item {
  width: auto;
  height: fit-content;
}

.productTitle {
  color: white;
  padding-bottom: 20px;
}

img {
  width: 300px;
  height: 400px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productPrice {
  color: white;
  display: flex;
  justify-content: center;
}

.productButton {
  margin-top: 20px;
  height: 32px;
  font-size: 16px;
  width: 160px;
  border-radius: 5px;
  background-color: #ff8600;
  color: white;
  cursor: pointer;
}
