body {
    background-color: white;
    color: #0B3641;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    width: 100vw;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navUl {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 700px;
}


.navText {
    margin-left: 56px;
    margin-top: 80px;
    padding:0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #0B3641;
    cursor: pointer;
}

a:hover {

}

.navText:hover {

}

.navIcon {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.content {
    width:100vw;
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navHeadline {
    display: block;
    align-items: center;
}

.navHeader {
    margin: 50px 0px 0px 0px;
    padding: 0px;
    align-items: center;
    border: 0px;
}

h1 {
    font-size: 56px;
    cursor: pointer;
}

h1:hover {

}

.navImage {
    width: 56px;
    height: 56px;
    margin-top: 56px;
    margin-right: 56px;
    cursor: pointer;
    
}

.navImage:hover {

}

.logo {
    width: 800px;
    height: 200px;
    padding: 0px;
    margin: 40px 0px;
    
}

h2 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 80px;
}


.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

button {
    width: 324px;
    height: 108px;
    margin:none;
    padding: none;
    border:none;
    font-size: 32px;
    margin: 0px 40px 0px 40px;
    border-radius: 33px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {

}



.men {
    background-color: #0B3641;
    color: white;
}

.woman {
    background-color: #3AAFB9;
    color: white;
    
}

.children {
    background-color: #EB1526;
    color: white;
}

.footerContent {
    background-color: #FF8600;
    color: #0B3641;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: lighter;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 40px 0px;
    border-right: 1px solid #0B3641;
    padding-right: 50px;
    padding-left: 50px;
    
}

.paymentImage {
    display: flex;
    flex-direction: row;
}

.info {
    margin: 0px 0px 16px 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    font-weight: lighter;
    
}

.footerImage {
    height: 40px;
    width: 64px;
    margin: 0px 20px 0px 0px;
    
}

.giftCardsText {
    margin: 0px 0px 16px 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    font-weight: lighter;
    
}

.deliveryPartners {
    margin: 0px 0px 16px 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
    font-weight: lighter;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    width:300px;
}